<% provide(:title, I18n.t(:contact)) %>
<div class="center hero-unit">
<h1><%=t :contact %></h1>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script>
    $(function() {
        $( "#progressbar" ).progressbar({
            value: 37
        });
    });
    </script>



<div class="demo">

<div id="progressbar"></div>

</div><!-- End demo -->



<div class="demo-description" style="display: none; ">
<p>Default determinate progress bar.</p>
</div><!-- End demo-description -->
</div>

