<% provide(:title, I18n.t(:pricing)) %>
  <div class="center kevin-unit">
       <h1><%=t :pricing %></h1>
       <h2>自分の英語の学習経過や成績推移を確認できます。</h2>

     <div class="row-fluid">
       <div class="span6">
         <%= image_tag("pricing1.png", alt: "BiFluent 期間契約（一括払い) １ヵ月あたり500円 12ヵ月6,000円(税込み)") %>
          <div class="pricing_button">
          <p><a class="btn btn-large btn-success" href="#">スタート &raquo;</a></p>
          </div>
       </div>
       <div class="span6">
        <%= image_tag("pricing2.png", alt: "BiFluent 継続契約 １ヵ月あたり1,000円 毎月自動更新(税込み)") %>
          <div class="pricing_button">
            <p><a class="btn btn-large btn-success" href="#">スタート &raquo;</a></p>
          </div>
       </div>
     </div>

       <%= link_to "無料トライアル", signup_path, class: "btn btn-large btn-primary" %>
</div>