<% provide(:title, I18n.t(:principles)) %>
<div class="center kevin-unit">
<h1><%=t :principles %></h1>
<p></p>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/base/jquery-ui.css" type="text/css" media="all" />
<div id="tabs">

<ul>
    <li><a href="#tabs-1" onclick="function1();">Nunc tincidunt</a></li>
    <li><a href="#tabs-2" onclick="function2();">Proin dolor</a></li>
    <li><a href="#tabs-3" onclick="function3();">Aenean lacinia</a></li>
</ul>

<div class="tab-pane" id="tabs-2">
 xxx
 </div>
<div class="tab-pane" id="tabs-2">
 lll
 </div>
<div class="tab-pane" id="tabs-3">
 <div id="chartdiv" style="width: 100%; height: 400px; background-color:white;"></div>
 </div>
</div>


<script type="text/javascript">

    $(document).ready(function(){
        $( ".selector" ).tabs();
    });

    function function1(){
        // your code here
    }

    function function2(){
    alert('triggered on show');
    }

    var chart;

            var chartData = [{
                country: "USA",
                visits: 4025
            }, {
                country: "Poland",
                visits: 328
            }];

        AmCharts.ready(function function3() {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "country";
                chart.startDuration = 1;

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.labelRotation = 90;
                categoryAxis.gridPosition = "start";

                // value
                // in case you don"t want to change default settings of value axis,
                // you don"t need to create it, as one value axis is created automatically.

                // GRAPH
                var graph = new AmCharts.AmGraph();
                graph.valueField = "visits";
                graph.balloonText = "[[category]]: [[value]]";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.8;
                chart.addGraph(graph);

                chart.write("chartdiv");
    });
 
</script>


</div>