<% provide(:title, I18n.t(:eikenjournal)) %>
<%= render '/shared/sidebar' %>
<% if @eiken.blank? %>
<div class="span9">
      <div class="center kevin-unit">
          <div class="blank_box">
                <div><%= link_to "STEP 英検のスコアを入れて", eiken_input_path, class: "btn btn-danger" %>
                </div>
          </div>      
      </div>
  </div>
</div><!--/.sidebar row -->
</div><!--/.sidebar container -->
<% else %>

  <div class="span9">
      <div class="center kevin-unit">
       <% if eiken.eiken_level == 5 && eiken.eiken_result == true%>
         <%= image_tag("eiken5c.png", alt: "STEP 英検の5級") %>
         <% else %>
          <%= image_tag("eiken5bw.png", alt: "STEP 英検の5級") %>
          <% end %>
      </div>
  </div>
</div><!--/.sidebar row -->
</div><!--/.sidebar container -->
<% end %>
