<% provide(:title, @user.name) %>
<div class="center hero-unit">
<div class="row">
  　<div class="span4">
  
        <%= gravatar_for @user %>
  　</div>
    <div class="span4">
      <h1><%= @user.name %></h1>
    　　BiFluent since: signupdate
  　</div>
</br>
</br>
</br>
</br>

　　　　　<ul class="nav nav-tabs">
　<li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i> ホーム</a></li>
　<li><a href="#bifluent" data-toggle="tab"><i class="icon-leaf"></i> BiFluent</a></li>
  <li><a href="#toeic" data-toggle="tab">TOEIC®</a></li>
  <li><a href="#step" data-toggle="tab">STEP 英検</a></li>
  <li><a href="#toefl" data-toggle="tab">TOEFL®</a></li>
  <li><a href="#casec" data-toggle="tab">CASEC</a></li>
  <li><a href="#ielts" data-toggle="tab">IELTS</a></li>
　　　　　</ul>
 
　<div class="tab-content">
  　<div class="tab-pane active" id="home">TOEIC Tests (<%= @user.toeictests.count %>)</div>
  　<div class="tab-pane" id="bifluent">BiFluent</div>
  　<div class="tab-pane" id="toeic"><%= render 'toeic_p' %></div>
 　 <div class="tab-pane" id="step">Step</div>
 　 <div class="tab-pane" id="toefl">toelf</div>
　　<div class="tab-pane" id="casec">casec</div>
　　<div class="tab-pane" id="ielts">ielts</div>
 </div>




</div>
</div>
