 <div class="well">
  <p><span class="ielt_score">IELTS Score: <%= ielt.ielt_score %></span></p>
  <div id="textbox">
  <p class="alignleft"><span class="timestamp">IELTS Date: <%= ielt.ielt_date.to_s(:j_date) %></span></p>
  <p class="alignright"><% if current_user?(ielt.user) %>
    <%= link_to content_tag('i', '', class: 'icon-trash'), ielt, method:  :delete,
                                     confirm: "You sure?",
                                     title:   ielt.ielt_date %>
  <% end %>
<div style="clear: both;"></div>
</div>
</div>