<% provide(:title, I18n.t(:ieltjournal)) %>
<%= render '/shared/sidebar' %>
  <div class="span9">
      <div class="center kevin-unit">
          <div id="chartdiv" class="amchart"></div>
      </div>
  </div>
</div><!--/.sidebar row -->
</div><!--/.sidebar container -->

<script type="text/javascript">
            var chart;

    var chartData = <%= raw @ielt.to_json.gsub(/\"created_at\"/, "created_at").gsub(/\"id\"/, "id").gsub(/\"ielt_score\"/, "ielt_score").gsub(/\"ielt_date\"/, "ielt_date").gsub(/\"updated_at\"/, "updated_at").gsub(/\"user_id\"/, "user_id") %>;

            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "ielt_date";
                chart.columnWidth = 0.5 ;

                // TITLE
                chart.addTitle("IELTSのスコア", 15);

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";
                categoryAxis.boldPeriodBeginning = "false";
                categoryAxis.labelRotation = 65;


                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "regular";
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                valueAxis.maximum = 9
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // CASEC Section 1    
                var graph = new AmCharts.AmGraph();
                graph.title = "IELTS Score";
                graph.labelText = "[[value]]";
                graph.valueField = "ielt_score";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#329898";
                graph.color = '#ffffff';
                chart.addGraph(graph);

                 // HORIZONTAL GREEN RANGE
                var guide = new AmCharts.Guide();
                guide.value = 7;
                guide.toValue = 8.5;
                guide.fillColor = "#00CC00";
                guide.inside = true;
                guide.fillAlpha = 0.2;
                guide.lineAlpha = 0;
                valueAxis.addGuide(guide);

                // LEGEND                  
                var legend = new AmCharts.AmLegend();
                chart.addLegend(legend);
                legend.align = "center";

                // WRITE
                chart.write("chartdiv");
            });

</script>