<% provide(:title, I18n.t(:bridgejournal)) %>
<%= render '/shared/sidebar' %>
  <div class="span9">
      <div class="center kevin-unit">
          <div id="chartdiv" class="amchart"></div>
      </div>
  </div>
</div><!--/.sidebar row -->
</div><!--/.sidebar container -->

<script type="text/javascript">
            var chart;

    var chartData = <%= convert_to_amcharts_json(@bridge) %>;

            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "bridge_date";
                chart.columnWidth = 0.5 ;

                // TITLE
                chart.addTitle("TOEIC® Bridgeのスコア", 15);

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";
                categoryAxis.boldPeriodBeginning = "false";
                categoryAxis.labelRotation = 65;


                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "regular";
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                valueAxis.maximum = 180
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // TOEIC® Bridge Reading    
                var graph = new AmCharts.AmGraph();
                graph.title = "TOEIC® Bridge<%=t :tr_score %>";
                graph.labelText = "[[value]]";
                graph.valueField = "bridge_r";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#4265a6";
                graph.color = '#ffffff';
                chart.addGraph(graph);


                // TOEIC® Bridge Listening             
                graph = new AmCharts.AmGraph();
                graph.title = "TOEIC® Bridge<%=t :tl_score %>";
                graph.labelText = "[[value]]";
                graph.valueField = "bridge_l";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#91a6cc";
                graph.color = '#ffffff';
                chart.addGraph(graph);

                 // HORIZONTAL GREEN RANGE
                var guide = new AmCharts.Guide();
                guide.value = 165;
                guide.toValue = 175;
                guide.fillColor = "#00CC00";
                guide.inside = true;
                guide.fillAlpha = 0.2;
                guide.lineAlpha = 0;
                valueAxis.addGuide(guide);

                // LEGEND                  
                var legend = new AmCharts.AmLegend();
                chart.addLegend(legend);
                legend.align = "center";

                // WRITE
                chart.write("chartdiv");
            });

</script>