<footer class="footer">
  <small>
    © バイフルーエント株式会社, ALL RIGHTS RESERVED
  </small>
   <nav>
   <ul>
      <li><%= link_to t(:about),   about_path %></li>
      <li>|</li>
      <li><%= link_to t(:contact), contact_path %></li>


      <li><a href="http://www.facebook.com/bifluent/"><%= image_tag("facebook.png", alt: "Facebook") %></a></li>
      <li><a href="http://www.twitter.com/bifluent/"><%= image_tag("twitter.png", alt: "Twitter") %></a></li>
    </ul>
  </nav>
</footer>